<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TypeEmitSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TypeEmitSample.Properties.Settings>
            <setting name="CustomModelAssembly" serializeAs="String">
                <value>CustomModels</value>
            </setting>
        </TypeEmitSample.Properties.Settings>
    </applicationSettings>
    <connectionStrings>
      <add name="LocalSqlExpress" connectionString="data source=.\sqlexpress;initial catalog=DataExtensibility;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>