<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataExtensibilityContext" connectionString="data source=.\sqlexpress;initial catalog=DataExtensibility;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>